@{
    ViewBag.Title = "Pagina de inicio";
}


<div class="container">

    <div class="row">
        <div class="col-lg-12">

            <img src="~/Images/bk-app_v2.jpg" class="img-responsive" alt="" style="min-height:400px;  width:100%;" />

        </div>
    </div>

</div>



