<connectionStrings>
  <add
    name="Demo"
    connectionString="User Id=LOCALHOST;Password=###LOCALHOST###;Data Source=(DESCRIPTION =    (ADDRESS = (PROTOCOL = TCP)(HOST = LOCALHOST)(PORT = LOCALHOST))    (CONNECT_DATA =      (SERVER = DEDICATED)      (SERVICE_NAME = LOCALHOST)    )  )"
    providerName="Oracle.ManagedDataAccess.Client" />
</connectionStrings>