<connectionStrings>
  <add
    name="Demo"
    connectionString="User Id=FMV_STP;Password=###FMV_STP###;Data Source=(DESCRIPTION =    (ADDRESS = (PROTOCOL = TCP)(HOST = SUCUBUS)(PORT = 1527))    (CONNECT_DATA =      (SERVER = DEDICATED)      (SERVICE_NAME = SUCUBUS)    )  )"
    providerName="Oracle.ManagedDataAccess.Client" />
</connectionStrings>